*{
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
}
body{
	height: 100%;
	background:lightgrey;
}
.main {
	background: #fff;
	width: 660px;
	height: 100%;
	margin: 0 auto;
	padding: 66px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	text-align: center;
}

.main h1{
	margin-bottom: 20px;

}
.main img{
	height: 180px;
}
/*CONTENT*/
.about{
	padding: 0 50px;
	text-align: left;
}

.about p{
	padding: 10px;
}
.about div{
	border-top: 1px black solid;
	margin: 15px 0;
	padding: 20px 10px;
}

.about div ul{
	padding: 20px 20px 0 20px;
		}
.contact{
	padding: 0 50px;
	text-align: left;

}
 .phone {
	border-top: 1px black solid;
	padding: 10px;
 }
 .vk{
 	padding: 10px;
 }
 /*FOTTER*/
.footter{
	padding: 10px 50px;
}

.footter div{
	border-top: 1px black solid;
	padding: 10px;
}
